<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('sidebar') -%>
    <main>
      <h1><%= title %></h1>
        <% if (categories.length) { %>
    <ul>
      <% categories.forEach(category => { %>
        <li>
          <a href="<%= category.url %>"><%= category.name %></a>
          </li>
     <% }); %>
    </ul>
    <% } else { %>
      <p>There are no categories</p>
      <% } %>
    </main>
  </body>
</html>
